<section class="container">
  <h1 class="text-center p-5">BLOG APP</h1>

  <ul class="nav nav-pills nav-fill pb-3 mb-5 border-bottom">
    <li class="nav-item">
      <a class="nav-link"  routerLinkActive="active" routerLink="blog/list">Blog List</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLinkActive="active" routerLink="blog/create">Blog Create</a>
    </li>
  </ul>

  <div class="mt-2">
    <router-outlet></router-outlet>
  </div>
</section>
<app-loading></app-loading>